@media only screen and (max-width:1108px) {
  .wrapper {
    class:90%;
  }
  #social {
    top:82px;
    right:4px;
  }
}

@media only screen and (max-width:900px){
  body{
    font:85%;
  }
  #logo h1{
    height:35px;
    width:35px;
  }
  #logo h2{
    font:2.2em;
  }
  #social {
  top:72px;
 }
.col-3 p {
  -moz-column-rule: 1px dotted #ccc;
  -webkit-column-rule: 1px dotted #ccc;
  column-rule: 1px dotted #ccc;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 2;
}
}

@media only screen and (max-width:750px) {
 #navbar nav a{
   font:0.9em;
 }
 .col-1 {
  float: left;
  width: 100%;
}

.col-2 {
  float: left;
  width: 100%;
}
.col-3{
  float:none;
  width:100%;
}
   .col-3 p {
  -moz-column-rule: 1px dotted #ccc;
  -webkit-column-rule: 1px dotted #ccc;
  column-rule: 1px dotted #ccc;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 1;
}

.border-right{
  border-right:0;
}
#details div{
  height:auto;
 }
}
@media only screen and (max-width:700px) {
  #navbar nav a.menu-icon {
  display: list-item;
  }

#logo h2 {
  display: none;
  font: 2.5em "Clicker Script", cursive;
  margin: 0;
  position: relative;
  top: -9px;
  left: 5px;
  color: #303;
}

}
